{
    "email_address": "my-email@gmail.com",
    "google_client_id": "numberstring-hexadecimalstring.apps.googleusercontent.com",
    "google_client_secret": "my-google-client-secret",
    "google_refresh_token": "refresh-token"
}
